* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
:root {
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--desaturated-dark-blue: hsl(214, 17%, 51%);
	--grayish-blue: hsl(212, 23%, 69%);
	--light-grayish-blue: hsl(210, 46%, 95%);

	//Primary

	--Light-red: hsl(0, 100%, 67%);
	--Orangey-yellow: hsl(39, 100%, 56%);
	--Green-teal: hsl(166, 100%, 37%);
	--Cobalt-blue: hsl(234, 85%, 45%);
	--Light-red-back: hsl(0, 100%, 67%, 0.15);
	--Orangey-yellow-back: hsl(39, 100%, 56%, 0.15);
	--Green-teal-back: hsl(166, 100%, 37%, 0.15);
	--Cobalt-blue-back: hsl(234, 85%, 45%, 0.15);

	//Gradients

	--Light-slate-blue: hsl(252, 100%, 67%);
	--Light-royal-blue: hsl(241, 81%, 54%);

	--Violet-blue: hsla(256, 72%, 46%, 1);
	--Persian-blue: hsla(241, 72%, 46%, 0);

	//Neutral

	--White: hsl(0, 0%, 100%);
	--Pale-blue: hsl(221, 100%, 96%);
	--Light-lavender: hsl(241, 100%, 89%);
	--Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 1.6rem;
	background-color: var(--White);
}
.result-box__summary-item {
	margin: 18px 0;
	padding: 1em;
	min-height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 14px;
	background-color: var(--Pale-blue);
	i {
		margin: 0 0.6em 0 0;
	}
}
.reaction {
	background-color: var(--Light-red-back);
	bacg i,
	h4 {
		color: var(--Light-red);
	}
}
.memory {
	background-color: var(--Orangey-yellow-back);
	i,
	h4 {
		color: var(--Orangey-yellow);
	}
}
.verbal {
	background-color: var(--Green-teal-back);
	i,
	h4 {
		color: var(--Green-teal);
	}
}
.visual {
	background-color: var(--Cobalt-blue-back);
	i,
	h4 {
		color: var(--Cobalt-blue);
	}
}
.result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.btn {
	margin: 5px 0;
	padding: 0.8em 1.6em;
	border: none;
	border-radius: 1.4em / 50% 50%;
	color: var(--White);
	font-size: 1.8rem;
	font-family: 'Hanken Grotesk', sans-serif;
	font-weight: bold;
	background-color: var(--Dark-gray-blue);
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: var(--Violet-blue);
	}
}
.continue-btn {
	width: 100%;
}
.change-data-btn {
	position: absolute;
	padding: 0.8em 1.2em;
	margin: 10px;
	border-radius: 50%;
	z-index: 5;
}
.result-box {
	padding: 33px;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--White);
	flex-grow: 1;
	user-select: none;
	h1 {
		font-size: 1.8rem;
	}
	&__result-area {
		height: 348px;
	}
	&__result {
		padding: 25px 45px 40px;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 0 0 34px 34px;
		text-align: center;
		color: var(--Light-lavender);
		background-image: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
	}
	&__point-circle {
		position: relative;
		margin: 22px;
		padding: 1.5em;
		width: 144px;
		height: 144px;
		border-radius: 50%;
		background-image: conic-gradient(hsl(76, 100%, 37%) 280deg, var(--Violet-blue) 0deg);
		z-index: 0;
		&-inside {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 75%;
			height: 75%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			background-image: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
			z-index: 0;
		}
		h2 {
			font-size: 5.2rem;
			color: var(--White);
		}
		h2,
		p {
			position: relative;
			z-index: 2;
		}
	}
	.score-feedback {
		margin: 0.1em 0 0.5em;
		font-size: 2.1rem;
		color: var(--White);
	}
	&__summary {
		&-stat {
			font-weight: normal;
			color: var(--desaturated-dark-blue);
		}
		h2 {
			margin: 0 0 22px;
			font-size: 1.8rem;
		}
		.points {
			color: black;
			font-weight: bold;
		}
	}
}

.modal {
	position: absolute;
	padding: 20px;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	&-box {
		padding: 30px;
		max-height: 100%;
		max-width: 600px;
		border-radius: 14px;
		background-color: var(--White);
	}
}
.show {
	display: flex;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
	body {
		font-size: 1.8rem;
	}
	.continue-btn {
		margin: 25px 0 5px;
	}
	.result-box {
		padding: 33px 0;
		display: grid;
		box-shadow: 3px 8px 20px 3px hsla(256, 72%, 46%, 0.15);
		grid-template-columns: 1fr 1fr;
		max-width: 736px;
		border-radius: 34px;
		flex-grow: 0;
		overflow: hidden;
		h1 {
			margin-bottom: 1em;
			font-size: 2.4rem;
		}
		&__result-area {
			grid-column-start: 1;
			grid-column-end: 2;
			height: 100%;
		}
		&__result {
			padding: 33px 52px;
			justify-content: start;
			max-width: 50%;
			height: 100%;
			border-radius: 0 34px 34px 0;
		}
		&__point-circle {
			width: 200px;
			height: 200px;
			padding: 2em;

			h2 {
				font-size: 7.2rem;
			}
		}
		.score-feedback {
			font-size: 3rem;
		}
		&__summary {
			padding: 0 33px;
			h2 {
				font-size: 2.2rem;
				margin: 0 0 30px;
			}
		}
	}
}
